@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.sort-main-container {
  background-color: #222f41;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  margin-top: 13px;
  padding: 1.3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (min-width: 1201px) {
  .sort-main-container {
    width: 60%;
    margin-left: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sort-content-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.sort-input-card {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.sort-label-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #d0d7e0;
}

.sort-select-input {
  width: 200px;
  padding: 10px 12px;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: #8894a3;
  background-color: #d0d7e0;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.sort-select-input:focus {
  border: 2px solid #96c4fa;
}
