@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.model-main-container {
  background-color: #1f2937;
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mode-close-btn {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #707985;
  height: 1.5rem;
  width: 1.5rem;
  color: #707985;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-end;
  transition: all 0.4s;
}

.mode-close-btn:hover {
  color: #adc3e0;
  border: 2px solid #adc3e0;
}

.add-form-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-form-card-title {
  font-size: 1.7rem;
  font-family: "Roboto";
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

.add-input-card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.add-form-label {
  font-size: 0.9rem;
  color: #b6abcc;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.add-form-text-input {
  background-color: #515861;
  border: none;
  outline: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #cfcddd;
}

.add-from-textarea {
  background-color: #515861;
  border: none;
  outline: none;
  max-height: 100px;
  height: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #cfcddd;
}

.add-from-date-option-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
}

@media screen and (min-width: 1201px) {
  .add-from-date-option-card {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.add-form-date-input-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 1201px) {
  .add-form-date-input-card {
    width: 50%;
  }
}

.add-form-input-date-optoin {
  background-color: #515861;
  border: none;
  outline: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #cfcddd;
}

.add-form-btn-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}

.add-form-cancel-btn {
  background-color: #515861;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #cfcddd;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.add-form-add-btn {
  background-image: linear-gradient(to right, #1e77f3, #98bff5);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #d5d4db;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.add-form-input-status {
  width: 100%;
  background-color: #515861;
  border: none;
  outline: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #cfcddd;
}
